@media (min-width: 1201px) {
    hr {
        width: 470px;
    }
}

@media (max-width: 1200px) {
    hr {
        width: 470px;
    }
    .container {
        /* background-color: red; */
      width: 1170px;
    }
}

@media (max-width: 992px) {
    .container {
        /* background-color: green; */
      width: 970px;
    }
}

@media (max-width: 768px) {
    .container {
        /* background-color: yellow; */
        width: 100%;
    }
  
}


@media (max-width: 515px) {
    .container {
        /* background-color: pink; */
        width: 100%;
    }
    #first__container {
        padding-top: 40px;
    }
    .Title {
        text-align: left;
        padding-left: 40px;
    }
    .custom-search-input{
        width: 95%;
    }
    hr {
        width: 100%;
    }
    .container__capitals {
        width: 100%;
    }
    .container__table {
        float: left;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .Title {
        font-size: 40px;
        text-align: left;
        padding-left: 10px;
    }
}